.mediumFont {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #888;
}

.bean-red {
	color: #f00;
	font-size: 18px;
	font-weight: bold;
}

.bean-green {
	color: #008000;
	font-size: 18px;
	font-weight: bold;
}

.fl {
	float: left;
}

.title h2 {
	width: 180px;
	font-size: 20px;
	font-weight: normal;
	line-height: 48px;
	border-left: 10px solid #ff6d00;
	padding: 0 15px;
}

.title h2 span {
	font-size: 25px;
	padding: 0 3px;
}

.filmlink {
	width: 500px;
	font-size: 14px;
	line-height: 24px;
	margin-top: 15px;
}

.othermovie li {
	width: 320px;
	zoom: 1;
	margin: 0 0 20px 10px;
}

.othermovie li,.othermovie li .picbox,.othermovie li dl {
	float: left;
	display: inline;
}

.tk-01 {
	width: 500px;
	box-shadow: 0 0 4px #000;
	text-align: center;
	background: #fff;
	border: 1px solid #eee;
	padding-bottom: 20px;
	margin-top: 0px;
}

.ask-qb {
	background: #f1f9fd;
	height: 45px;
}

.close-01 {
	float: right;
	padding: 5px 8px;
	font-size: 18px;
	cursor: pointer;
}

.ask_items {
	text-align: left;
	margin-top: 14px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 35px;
}

.hyp001 {
	padding: 15px;
}

.ticket {
	background: #0081bc;
	width: 94px;
	height: 25px;
	display: inline-block;
	border-radius: 15px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 2px;
	color: #fff;
	text-decoration: none;
	position: relative;
	zoom: 1;
}

.homeInfo {
	color: #679c21;
	line-height: 20px;
	padding: 0 0 0 0px;
	position: relative;
	zoom: 1;
	text-indent: 2em;
}

.type a {
	color: #08c;
	text-decoration: none;
	vertical-align: baseline;
	cursor: pointer;
}

p {
	margin-top: 5px;
}

.type span {
	padding: 0 5px;
	color: #333;
}

.seat {
	margin-right: 96px;
	text-indent: 0;
	float: left;
	width: 20px;
	font-size: 0;
	height: 20px;
	position: relative;
}

.seat-enabled {
	background: url(/cineplex/images/common/seat.png) no-repeat 0px 0px;
}

.seat-selected {
	background: url(/cineplex/images/common/seat.png) no-repeat -60px 0px;
}

.seat-occupied {
	background: url(/cineplex/images/common/seat.png) no-repeat -40px 0px;
}

.seats {
	width: 600px;
	border: #ccc 1px solid;
	padding: 0;
	min-height: 500px;
	background-color: #f5f5f5;
}

.seats li span {
	line-height: 20px;
	height: 20px;
	display: block;
	white-space: nowrap;
	word-wrap: normal;
	text-indent: 7px;
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 12px;
	width: 50px;
}

.seats .legend {
	margin: 18px 0 46px 150px;
	overflow: hidden;
	height: 20px;
	width: auto;
}

.a-seat-selected {
	background: url(/cineplex/images/common/seat.png) no-repeat -60px 0px;
	height: 20px;
	width: 20px;
	display: block;
	text-indent: -9999px;
	position: relative;
	outline: 0;
	z-index: 20;
}

.a-seat-occupied {
	background: url(/cineplex/images/common/seat.png) no-repeat -40px 0px;
	height: 20px;
	width: 20px;
	display: block;
	text-indent: -9999px;
	position: relative;
	outline: 0;
	z-index: 20;
}

.a-seat-enabled {
	background: url(/cineplex/images/common/seat.png) no-repeat 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	text-indent: -9999px;
	position: relative;
	outline: 0;
	z-index: 20;
}

.seatinfo-box {
	padding: 0 20px;
	width: 220px;
	font-family: "ו";
	background-color: #fff;
	border: 1px solid #dbdbdb;
	min-height: 500px;
}

.seatBeChoose {
	background-color: #fff9f2;
	border: 1px solid #ff8400;
	padding: 8px 18px;
	margin-right: 7px;
	display: block;
	width: auto;
	overflow: hidden;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 5px;
}

.b-rbtn {
	width: 170px;
	height: 42px;
	line-height: 42px;
	height: 44px\9;
	line-height: 44px\9;
	padding-left: 4px;
	cursor: pointer;
	text-decoration: none;
	float: left;
	zoom: 1;
	border-radius: 3px;
	font-size: 16px;
	padding: 0 35px;
	height: 36px;
	line-height: 36px;
	background-color: #ff8400;
	border: 1px solid #ff8400;
	border-bottom: solid 1px #c66600;
}

.b-rbtn-span {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	color: #fff;
	padding: 0 25px 0 10px;
	white-space: nowrap;
	float: left;
	text-align: center;
	border: 0;
	background-color: transparent;
	height: 42px;
	height: 44px\9;
	font-weight: bold;
	cursor: pointer;
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	font-family: "Microsoft YaHei", \9ed1\4f53;
	line-height: 36px;
	font-size: 16px;
}

.payFilm_a {
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	padding: 3px 6px;
	min-width: 10px;
	_width: 10px;
	text-align: center;
	border: 1px solid #DCDCDC;
	background: #FFF;
	-moz-transition-property: border-color, background;
	-o-transition-property: border-color, background;
	-webkit-transition-property: border-color, background;
	transition-property: border-color, background;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.payFilm_a:hover,.payFilm_a_choose:hover{
	border: 1px solid #F40;
	text-decoration: none;
}

.payFilm_a:visited,.payFilm_a_choose:visited,.payFilm_a:link,.payFilm_a_choose:link{
	text-decoration: none;
}

.payFilm_a_choose{
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	padding: 3px 6px;
	min-width: 10px;
	_width: 10px;
	text-align: center;
	border: 1px solid #F40;
	background: #FFF;
	-moz-transition-property: border-color, background;
	-o-transition-property: border-color, background;
	-webkit-transition-property: border-color, background;
	transition-property: border-color, background;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.payFilm_span {
	padding: 2px 5px;
	text-decoration: none;
	color: #F40;
	background: #FFF;
}